.container {
  padding: 1.333333rem;
}
.container .tips-logo {
  margin: 3rem auto 0;
  width: 1.866667rem;
}
.tips-logo .fail-logo {
  font-size: 2rem;
  color: #ccc;
}
.tips-words {
  margin: 0 auto;
  width: 5.933333rem;
  font-size: 0.48rem;
  color: #333;
  text-align: center;
}
.submit-button {
  margin: 0.933333rem auto 0;
  width: 6.666667rem;
  height: 1.066667rem;
  background-color: #FF9000;
  border-radius: 0.533333rem;
  color: #fff;
  font-size: 0.48rem;
  text-align: center;
  line-height: 1.066667rem;
}