.vocation-container {
  width: 7rem;
  background-color: #fff;
}
.occupation-inquire-title {
  font-size: .48rem;
  color: #333;
  text-align: center;
  height: 1.093333rem;
  line-height: 1.093333rem;
  border-bottom: .026667rem solid #f5f5f5;
  position: relative;
}
.occupation-inquire-title .icon-back {
  position: absolute;
  left: .4rem;
}
.occupation-inquire-title .icon-close {
  position: absolute;
  right: .4rem;
}
.occupation-inquire-choice {
  padding: .506667rem .346667rem;
  background: #fafafa;
  border-bottom: .026667rem solid #f5f5f5;
  font-size: .4rem;
  color: #333;
}
.occupation-inquire-choice-notice {
  color: #1e96ea;
  font-size: .4rem;
}
.occupation-uninquire-choice-notice {
  color: #ea1e1e;
  font-size: .4rem;
}
.occupation-inquire-content {
  max-height: 12.933333rem;
  overflow-y: scroll;
}
.occupation-inquire-loading {
  padding-top: 2rem;
}
.occupation-end {
  padding-top: 2rem;
  color: #ccc;
  text-align: center;
  font-size: .4rem;
}
.occupation-inquire-content-item {
  padding: .36rem .4rem .36rem .333333rem;
  box-sizing: border-box;
  border-bottom: .026667rem solid #f5f5f5;
  position: relative;
  font-size: .4rem;
  color: #333;
}
.occupation-inquire-content-item .selected {
  background: #fafafa;
}
.occupation-inquire-content-item .icon-right-arrow {
  position: absolute;
  right: .18rem;
}
.fixed-footer {
  box-sizing: border-box;
  width: 100%;
  height: 1.306667rem;
  border-top: .026667rem solid #f5f5f5;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 0 0 .373333rem;
  z-index: 10;
}
.vocation-search-box {
  padding: .306667rem .346667rem;
}
.vocation-search-input {
  height: .75rem;
  line-height: .75rem;
  background-color: #f5f5f5;
  color: #ccc;
}
.vocaiton-search-icon {
  margin-left: .2rem;
  margin-top: -.1rem;
}
.vocation-search-words {
  font-size: .35rem;
}
.search-container {
  width: 100% !important;
  z-index: 800;
}
.search-header {
  display: flex;
  position: relative;
  padding: .15rem .25rem;
  height: .75rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.search-input {
  flex: 1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  font-size: .4rem;
  text-indent: .85rem;
  background-color: #f5f5f5;
}
.search-icon {
  position: absolute;
  width: .4rem;
  height: .4rem;
  top: 50%;
  margin-top: -.2rem;
  margin-left: .2rem;
}
.search-cancel {
  display: block;
  margin-top: .4rem;
  margin-left: .25rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .4rem;
  transform: translateY(-50%);
}
.search-content {
  width: 100%;
  max-height: 93%;
  overflow: scroll;
}
.search-item {
  padding: .25rem .4rem 0 .3333rem;
  box-sizing: border-box;
  border-bottom: .026667rem solid #f5f5f5;
  position: relative;
  font-size: .35rem;
  color: #333;
}
.search-item-success {
  color: #1e96ea;
}
.search-item-fail {
  color: #ea1e1e;
}
.search-nothing {
  width: 6rem;
  height: 6rem;
  margin: 4rem auto;
}
.search-nothing-words {
  padding-top: .2rem;
  text-align: center;
  font-size: .4rem;
}