/*Vue隐藏*/
[v-cloak] {
    display: none;
}
/*清除样式*/

body, ol, ul, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea,select{
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

html {
    margin: 0 auto;
    font-size: 62.5%;
}

body {
    font-size: 14px;
    font-family: PingFangSC-Medium, Helvetica, "Microsoft YaHei", sans-serif!important;
    background: #fff;
    color: #282828;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-size: 14px;
}

a {
    color: #333;
    text-decoration: none;
    transition: color .2s ease-out;
}

a:hover {
    text-decoration: none !important;
}

/* a:active {
    background-color: rgba(255, 255, 255, 0) !important;
} */

em, i {
    font-style: normal;
}

ol, ul, dl, li, dt, dd {
    list-style: none;
}

ol li {
    list-style: decimal;
}

ol li {
    list-style: decimal;
    list-style-position: inside;
}

img {
    border: 0;
    vertical-align: middle;
    width: 100%;
}

.boxShadow{
    box-shadow: 0 0 .18rem 0 rgba(0,0,0,0.1);
}

a img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
input, textarea {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    outline: none;
    border: 0;
}

input, textarea {
    outline: none;
    padding: 0px;
    margin: 0;
}

/*清除浮动*/
.clearfloat{
    zoom:1
}
.clearfloat:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
}