$text-color: #332500;
$light-black: #999999;
$color-primary: #ffaa00;
$color-title: #332500;
$color-subTitle: #999999;
$color-border: #e6e6e6;
$color-white: #ffffff;
$color-emp: #ff5344;
$color-background: #f1f1f1;
$color-newbg: #F2F1ED;
// 字体的放下面
$font-thin: PingFangSC-Regular,FZLTXIHJW--GB1-0, "Helvetica Neue", sans-serif;
$font-normal: PingFangSC-Medium,FZLTZHUNHJW--GB1-0,  "Helvetica Neue", sans-serif;