.main {
  padding: 0 0 1.306667rem;
  background: #f5f5f5;
}
.product-info {
  padding: .493333rem .32rem 0;
  box-sizing:  border-box;
  background: #fff;
  margin-bottom: .24rem;
}
.product-info-title {
  padding: 0 0 .333333rem;
}
.product-info-title h3 {
  font-size: .506667rem;
  color: #333;
  font-family: PingFangSC-Bold,sans-serif;
  line-height: 1.2;
}
.product-info-title p {
  font-size: .32rem;
  color: #999;
  line-height: 1;
  margin-top: .213333rem;
}
.product-info-form-item {
  display: flex;
  align-items: center;
  border-top: .026667rem solid #efefef;
  height: 1.146667rem;
  // padding: 0 0.32rem;
  box-sizing: border-box;
  left: 1.146667rem;
  background: #fff;
}
.product-info-form-item.area {
  /* height: 1.5rem; */
}
.product-info-form-item.area .product-tips {
  font-size: 0.32rem;
  color: #ccc;
  width: 8rem;
}
.product-info-form-item-title {
  font-size: .373333rem;
  color: #333;
  width: 5rem;
}
.product-info-form-item-content {
  width: 11.066667rem;
  font-size: .373333rem;
  color: #333;
  display: flex;
  justify-content: flex-end;
}
.product-info-form-item-content select {
  border: 0;
  outline: 0;
  font-size: .373333rem;
  color: #333;
  background: none;
  -webkit-appearance: none;
}
.product-info-form-item-select-arrow {
  width: .24rem;
  height: .12rem;
  margin-left: .186667rem;
}
.product-info-form-item-content .datepicker {
  display: inline-block;
  position: relative;
  margin-right: .2rem;
  width: 2.8rem;
  height: .6rem;
  padding: 0 !important;
  z-index: 1;
}
.product-info-form-item-content-date {
  position: relative;
}
.icon-date {
  color: #ffa714;
  position: absolute;
  right: 0;
  top: -.01rem;
  z-index: 0;
}
.product-info-form-item-radio {
  padding: 0 .32rem;
  float: left;
  height: .72rem;
  line-height: .72rem;
  box-sizing: border-box;
  border: .026667rem solid #efefef;
  margin-left: .293333rem;
  border-radius: .133333rem;
}
.product-info-form-item-radio.cur {
  color: #ff9000;
  border-color: #ff9000;
}
.product-info-form-item-vocation {
  color: #ff9000;
  margin-left: .426667rem;
}
.product-info-form-item-select {
  position: relative;
  /* width: 1.4rem; */
  padding: 0 .24rem 0 .373333rem;
  // border: .026667rem solid #efefef;
  height: .666667rem;
  line-height: .666667rem;
  border-radius: .133333rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.product-info-form-item-select.short {
  width: 1rem;
}
.product-info-form-item-select .select-cover {
  position: absolute;
  left: .3rem;
}
.product-info-form-item-select .select-cover::after {
  position: absolute;
  top: 0.25rem;
  right: -.4rem;
  content: '';
  height: 0;
  width: 0;
  border-width: .12rem;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}
.main .common-title {
  padding: .4rem 0;
  border-bottom: .026667rem solid #efefef;
  display: flex;
  align-items: center;
  font-size: .4rem;
  color: #999;
}
.common-title .icon {
  margin-right: 0.1333rem;
}
.product-clause {
  background: #fff;
  padding: 0 .32rem;
  margin-bottom: .24rem;
}
.product-clause-content-item {
  padding: .32rem .2rem .32rem 0;
  color: #333;
  font-size: .373333rem;
  border-bottom: .026667rem solid #efefef;
  position: relative;
  font-family: PingFangSC-Regular,sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-clause-content-item .icon.arrow {
  position: absolute;
  right: 0;
}
.product-clause-content-popup {
  /* height: 10rem; */
  background-color: #fff;
}
.product-clause-content-popup .region-title {
  line-height: 1;
  font-size: .48rem;
  color: #333;
  text-align: center;
  padding: .413333rem 0 .706667rem;
}
.product-clause-content-popup .region-selected {
  line-height: 1;
  font-size: .4rem;
  color: #333;
  padding: 0 .533333rem;
  border-bottom: .026667rem solid #f0f0f0;
}
.product-info-name {
  /* width: 3.8rem; */
  max-width: 6rem;
  color: #ff9000;
}
