.main-tabs {
  position: relative;
  padding: 0 .16rem;
  background: #fff;
  border-bottom: .026667rem solid #efefef;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
}
.main-tabs.tab-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.tab-item {
  flex: 1;
  text-align: center;
  font-size: .373333rem;
  color: #333;
  padding: .373333rem 0 .32rem;
  position: relative;
}
.tab-item.cur {
  color: #ff9000;
}
.tab-item.cur::after {
  content: "";
  height: .08rem;
  width: 1.573333rem;
  background: #ff9000;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: .04rem;
}
.tab-item span {
  width: 100%;
  display: block;
  border-right: .026667rem solid #e6e6e6;
  box-sizing: border-box;
}
.tab-item span:last-child {
  border-right: 0;
}
.product-features {
  margin-bottom: .24rem;
}
.insured-attentions {
  background: #fff;
  padding: 0 .32rem .4rem;
  margin-bottom: .24rem;
}
.insured-attentions-content {
  height: 4rem;
  font-size: .373333rem;
  color: #333;
  padding: .266667rem 0 0;
  overflow: hidden;
  font-family: PingFangSC-Regular,sans-serif;
}
.insured-attentions-content.cur {
  height: auto;
}
.insured-attentions-more {
  text-align: center;
  margin-top: .533333rem;
}
.insured-attentions-more p {
  font-size: .32rem;
  color: #999;
  line-height: 1;
}
.product-clause {
  background: #fff;
  padding: 0 .32rem;
  margin-bottom: .24rem;
}
.product-clause-content-item {
  padding: .32rem .2rem .32rem 0;
  color: #333;
  font-size: .373333rem;
  border-bottom: .026667rem solid #efefef;
  position: relative;
  font-family: PingFangSC-Regular,sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.claims-services {
  background-color: #fff;
  margin-bottom: .24rem;
}
.claims-services .common-title {
  padding: .4rem .32rem;
}
.product-clause-content-item .icon.arrow {
  position: absolute;
  right: 0;
}
.main .common-title {
  padding: .4rem 0;
  border-bottom: .026667rem solid #efefef;
  display: flex;
  align-items: center;
  font-size: .4rem;
  color: #999;
}
.common-title .icon {
  margin-right: 0.1333rem;
} 
.claims-services .common-title {
  padding: .4rem .32rem;
}
.health-notices-title {
  font-size: .48rem;
  font-family: PingFangSC-Bold,sans-serif;
  color: #333;
  height: 1.093333rem;
  line-height: 1.093333rem;
  border-bottom: .026667rem solid #f5f5f5;
  text-align: center;
  position: relative;
  background-color: #fff;
}
.health-notices-close {
  width: .453333rem;
  height: .453333rem;
  position: absolute;
  top: 50%;
  right: .32rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.health-notices-content {
  max-height: 10.986667rem;
  padding: .466667rem .333333rem 0;
  overflow-y: scroll;
  background-color: #fff;
}
.health-notices-operate {
  height: 1.306667rem;
  border-top: .026667rem solid #f5f5f5;
  display: flex;
}
.health-notices-operate >a p {
  line-height: 1;
}
.health-notices-operate .button {
    flex: 1;
    text-align: center;
    font-size: .48rem;
    /* line-height: 1.306667rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.health-subtitle {
    font-size: .4rem;
    color: #c1c1c1;
    margin-top: .08rem;
}
.client-agreement-content {
  padding-top: 1.09333333rem;
}
.information-main-title {
  height: 1.093333rem;
  line-height: 1.093333rem;
  border-bottom: .04rem solid #f5f5f5;
  text-align: center;
  font-size: .48rem;
  font-family: PingFangSC-Bold,sans-serif;
  color: #333;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
.product-clause-content-popup {
  overflow-y: scroll;
}
.faq-services-content {
  padding: .32rem .32rem;
}
.faq-services-content .title {
  font-size: .373333rem;
  font-weight: 700;
  padding: .12rem 0;
  border-bottom: .026667rem solid #efefef;
}
.faq-services-content .content {
  font-size: .373333rem;
  text-indent: 2em;
  margin: .2222222rem 0;
}
/* .claims-services-content {
  padding-bottom: 2rem;
} */
.customer-services {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  display: none;
}
.customer-services.show {
  display: block;
}
.customer-services>.customer-services-inner {
  background: #fff;
  border-radius: .266667rem;
  max-width: 5.733334rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .666667rem .4rem .48rem;
  position: relative;
  left: 50%;
  margin-top: 4rem;
  -webkit-transform: translate3d(-50%,100%,0);
  transform: translate3d(-50%,100%,0);
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}
.customer-services>.customer-services-inner.shown {
  transform: translate3d(-50%,0,0);
  opacity: 1;
}
.customer-services>.customer-services-inner>h3 {
  font-size: .48rem;
  color: #333;
  font-family: PingFangSC-Bold,sans-serif;
  line-height: 1;
  padding-bottom: .2rem;
}
.customer-services>.customer-services-inner>p {
  font-size: .373333rem;
  color: #333;
  padding-bottom: .573333rem;
  letter-spacing: .08rem;
}
.customer-services>.customer-services-inner>a {
  width: 4.773333rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  background: url(../../assets/image/sinosig/wddg/tel-bg.png) no-repeat;
  background-size: cover;
  text-align: center;
  font-size: .48rem;
  font-family: PingFangSC-Bold,sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.customer-services>.customer-services-inner>img {
  width: .453333rem;
  height: .453333rem;
  position: absolute;
  right: -.586667rem;
  top: -.586667rem;
}
.customer-services>.customer-services-inner>p>span {
  color: #ff9000;
}